@tailwind base;
@tailwind components;
@tailwind utilities;


.red {
    color: red;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #959595;
    border-radius: 4px;
}

@media (max-width: 1200px) {

    #left-sidebar,
    #right-sidebar {
        display: none;
        width: 100%;

    }

    #toggle-right-sidebar,
    #toggle-left-sidebar {
        display: block;
    }

    #left-sidebar.open,
    #right-sidebar.open {
        display: block;
        width: 408px;
        transition: transform 0.3s;
    }

    #left-sidebar.close,
    #right-sidebar.close {
        display: none;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 500px) {
    .messages {
        overflow-y: scroll;
    }

    #publication {
        width: 100%;
        margin-top: 110px;
    }

}