@tailwind base;
@tailwind components;
@tailwind utilities;


.red {
    color: red;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #959595;
    border-radius: 4px;
}

.blue-tag {
    color: rgb(54, 172, 245);
    font-weight: bold;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
   
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}



@media (max-width: 1200px) {

    #left-sidebar,
    #right-sidebar {
        display: none;
        width: 100%;

    }

    #toggle-right-sidebar,
    #toggle-left-sidebar {
        display: block;
    }

    #left-sidebar.open,
    #right-sidebar.open {
        display: block;
        margin-top: 50px;
        width: 300px;
        transition: transform 0.3s;
    }

    #left-sidebar.close,
    #right-sidebar.close {
        display: none;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 500px) {
    .messages {
        overflow-y: scroll;
    }

    #publication {
        width: 100%;
        margin-top: 110px;
    }

}